
<main class="dash-content">
    <div class="container-fluid">
      <div class="card easion-card">
        <div class="card-header">
            <div class="easion-card-icon">
                <i class="fas fa-chart-bar"></i>
            </div>
            <div class="easion-card-title"> Solo Parent </div>
            <div class="easion-card-menu">
              <div class="dropdown show">
                <a class="text-dark" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Type of Renewal<i class="ml-2 fas fa-angle-down"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">New</a>
                    <a class="dropdown-item" href="#">Renewal</a>
                </div>
              </div>
            </div>
        </div>
        <div class="card-body ">
          <h3>Personal Information</h3>
            <form>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <input type="text" class="form-control" id="idnum" placeholder="ID Number">
                </div>
                <div class="form-group col-md-4">
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Name">
                </div>
                <div class="form-group col-md-4">
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Middle Name">
                </div>
                <div class="form-group col-md-4">
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Last Name">
                </div>
              </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="idnum" placeholder="ID Number">
                  </div>
                  <div class="form-group col-md-3">
                    <select id="inputState" class="form-control">
                      <option selected>Sex</option>
                      <option>Male</option>
                      <option>Female</option>
                  </select>
                  </div>
                  <div class="form-group col-md-3">
                      <input type="password" class="form-control" id="inputPassword4" placeholder="Birthdate">
                  </div>
              </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Civil Status">
                  </div>
                  <div class="form-group col-md-9">
                      <input type="password" class="form-control" id="inputPassword4" placeholder="Place of Birth">
                  </div>
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" id="inputAddress2" placeholder="Address">
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-5">
                          <input type="text" class="form-control" placeholder="Occupation" id="inputCity">
                      </div>
                      <div class="form-group col-md-4">
                          <select id="inputState" class="form-control">
                              <option selected>Highest Education</option>
                              <option>Elementary</option>
                              <option>High School</option>
                              <option>Senior High School</option>
                              <option>College</option>

                          </select>
                      </div>
                      <div class="form-group col-md-3">
                          <input type="text" class="form-control" id="inputZip" placeholder="Monthly Income">
                      </div>

                  </div>
                  <div class="form-row">
                  <div class="form-group col-md-4">
                      <input type="password" class="form-control" id="inputPassword4" placeholder="Highest Monthly Income">
                  </div>
                  <div class="form-group col-md-4">
                      <input type="password" class="form-control" id="inputPassword4" placeholder="Contact Number">
                  </div>
                  <div class="form-group col-md-4">
                      <input type="email" class="form-control" id="inputPassword4" placeholder="Email Address">
                  </div>
              </div>
            <h3>Family Composition</h3>
              <div class="form-row mt-4">
                <div class="form-group col-md-12">
                  <input type="text" class="form-control" id="FamilyMember" placeholder="Name(FamilyMember)">
                </div>
                <div class="form-group col-md-4">
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Relationship">
                </div>
                <div class="form-group col-md-2">
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Age">
                </div>
                <div class="form-group col-md-2">
                    <select id="inputState" class="form-control">
                      <option selected>Sex</option>
                      <option>Male</option>
                      <option>Female</option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <input type="password" class="form-control" id="inputPassword4" placeholder="Civil Status">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-5">
                    <input type="text" class="form-control" placeholder="Occupation" id="inputCity">
                </div>
                <div class="form-group col-md-4">
                  <select id="inputState" class="form-control">
                      <option selected>Highest Education</option>
                      <option>Elementary</option>
                      <option>High School</option>
                      <option>Senior High School</option>
                      <option>College</option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="inputZip" placeholder="Monthly Income">
                </div>
              </div>
            <h3>Classification</h3>
              <div class="form-row">
                <div class="form-group col-md-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                    <label class="custom-control-label" for="customCheck4">Unmarried, abandoned</label>
                </div>
              </div>
              <div class="form-group col-md-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                    <label class="custom-control-label" for="customCheck4">Unmarried, separated</label>
                </div>
              </div>
              <div class="form-group col-md-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                    <label class="custom-control-label" for="customCheck4">Unmarried, death of partner</label>
                </div>
              </div>
              <div class="form-group col-md-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                    <label class="custom-control-label" for="customCheck4">Married, abandoned</label>
                </div>
              </div>
              <div class="form-group col-md-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                    <label class="custom-control-label" for="customCheck4">Married, annulled</label>
                </div>
            </div>
            <div class="form-group col-md-4">
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck4">
                  <label class="custom-control-label" for="customCheck4">Married, separation de facto</label>
              </div>
            </div>
            <div class="form-group col-md-4">
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck4">
                  <label class="custom-control-label" for="customCheck4">Married, legally separated</label>
              </div>
            </div>
            <div class="form-group col-md-4">
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck4">
                  <label class="custom-control-label" for="customCheck4">Married, divorce </label>
              </div>
            </div>
            <div class="form-group col-md-4">
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck4">
                  <label class="custom-control-label" for="customCheck4">Married, widow/er </label>
              </div>
            </div>
            <div class="form-group col-md-4">
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck4">
                  <label class="custom-control-label" for="customCheck4">Other</label>
              </div>
            </div>
          </div>
        <h3>Needs and problems of a solo parent</h3>
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Needs And Problems of a Solo Parent"></textarea>
          </div>
            <div class="form-group">
              <input type="password" class="form-control" id="inputPassword4" placeholder="Family Resources">
            </div>
        <h3>Attachments</h3>
          <div class="form-group">
            <label for="id">ID 1x1 Picture</label>
              <input type="file" class="form-control" id="id">
          </div>
          <div class="form-group">
            <label for="esign">E-sign</label>
            <input type="file" class="form-control mb-5" id="esign">
          </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</main>

