
<div class="container-fluid">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Barangay</th>
            <th scope="col">ID Number</th>
            <th scope="col">Age</th>
            <th scope="col">Sex</th>
            <th scope="col">Type of Disability</th>
            <th scope="col">Civil Status</th>
            <th scope="col">Education Attainment</th>
            <th scope="col">Status of Employment</th>
            <th scope="col">Category of Employment</th>
            <!-- <th scope="col">Type of Employment</th>
            <th scope="col">Occupation</th>
            <th scope="col">Occ.Specify</th>
            <th scope="col">Blood Type</th>
            <th scope="col">DisCert(Date)</th>  
            <th scope="col">Control#*</th>
            <th scope="col">Income</th>
            <th scope="col">4Ps</th>
            <th scope="col">Religion</th>
            <th scope="col">Voter</th>         -->
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>12</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>32</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>63</td>
            <td colspan="2">A</td>
            <td>@twitter</td>   
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>92</td>
            <td colspan="2">B</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>84</td>
            <td colspan="2">C</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>72</td>
            <td colspan="2">D</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>52</td>
            <td colspan="2">E</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>12</td>
            <td colspan="2">F</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>76</td>
            <td colspan="2">G</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>41</td>
            <td colspan="2">H</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table> 
      <nav class="main2" aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>