

<div class="container-fluid">
    <div class="row dash-row">
        <div class="col-xl-3">
            <div class="stats stats-primary">
                <h3 class="stats-title">Solo Parents</h3>
                <div class="stats-content">
                    <div class="stats-icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="stats-data">
                        <div class="stats-number">114</div>
                        <div class="stats-change">
                            <span class="stats-percentage">114</span>
                            <span class="stats-timeframe">out of 15,425</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="stats stats-success ">
                <h3 class="stats-title">PWD</h3>
                <div class="stats-content">
                    <div class="stats-icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="stats-data">
                        <div class="stats-number">2541</div>
                        <div class="stats-change">
                            <span class="stats-percentage">2541</span>
                            <span class="stats-timeframe">out of 15,425</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="stats stats-danger">
                <h3 class="stats-title"> Senior Citizens </h3>
                <div class="stats-content">
                    <div class="stats-icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="stats-data">
                        <div class="stats-number">5</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="stats stats-secondary ">
                <h3 class="stats-title">Total Population</h3>
                <div class="stats-content">
                    <div class="stats-icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="stats-data">
                        <div class="stats-number">414,812</div>
                        <div class="stats-change">
                            <span class="stats-timeframe">as of 2020</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <app-barangay>
            </app-barangay>
        </div>
    </div>
</div>
